<%= link_to "Logout", destroy_user_session_path, method: :delete %>
<%= link_to '<button type="button">Go Back</button>'.html_safe, start_quiz_index_path %>
<br>
<br>
<br>
<%= link_to '<button type="button">Questions on Cricket</button>'.html_safe, crickets_2_path %>
